.farmer-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  font-family: 'Segoe UI', sans-serif;
}

.farmer-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #8ac09b66;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.farmer-topbar h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #0a580b;
}

.topbar-buttons button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add {
  background: #16a34a;
  color: white;
}
.btn-add:hover {
  background: #15803d;
}

.logout-btn {
  background: #219415 !important;
  color: white;
}
.logout-btn:hover {
  background: #52ae72 !important;
}

.farmer-content {
  flex: 1;
  padding: 20px;
}
